body {
	margin: 0;
	padding: 0;
	font-family: 'Showcard Gothic';
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	text-align: center;
}

.wrapper {
	padding: 10px;
	position: relative;
	display: inline-block;
}

.settings {
	position: absolute;
	left: -40px;
	z-index: 3;
	padding: 5px 15px;
}

.settings__control {
	display: none;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 10px;
	min-width: 30px;
}

.settings__control--on {
	color: #009688;
}

.settings__control--off {
	color: rgba(128, 128, 128, 0.5);
}

.info {
	font-size: 16px;
	line-height: 1;
	color: grey;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	margin-bottom: 10px;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
	position: relative;
}

.info-start {
	font-size: 18px;
	cursor: pointer;
	color: #3F51B5;
	transition: transform 0.2s;
	position: absolute;
	z-index: 3;
	left: 50%;
	transform: translateX(-50%);
}

.info-start:hover {
	transform: translateX(-50%) scale(1.1);
}

.info-start:active {
	transform: translateX(-50%) scale(0.9);
	color: #009;
}

.info-score {
	color: #009688;
}

.info-level {
	color:#f44336;
	transition: transform 0.5s;
	display: inline-block;
}

.info-level--scale {
	transform: scale(1.2);
}

.help-block {
	position: absolute;
	right: 20px;
}

.game-field {
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.1)
}

.button {
	color: grey;
	padding: 15px 15px;
	font-weight: bold;
	font-size: 20px;
	font-family: bold;
	cursor: pointer;
	transition: all .2s ease-out;
}

.button:hover {
	background: rgba(128, 128, 128, 0.1);
}

.button:active {
	background: rgba(128, 128, 128, 0.3);
	transform: scale(0.99);
}

.button--left {}

.button--rotate {
	padding: 15px 25px;
}

.notification {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.9); 
	color:#f44336;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 0px 5px 5px rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 1;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%) scale(0); /* убираем */
	transition: all 0.2s ease-in;
}

.notification--show {
	transition: transform 0.3s cubic-bezier(.17,.67,.43,2.0); /* показываем */
	transform: translate(-50%, -50%) scale(1);
}


/* мобильное управление */
.mobile-controls {
	display: flex;
	z-index: 0;
	position: fixed;
	top: 0; bottom: 0;
	width: 100%;
}

.mobile-controls--above {
	z-index: 2;
}

.mobile-controls_button {
	display: none;
	position: relative;
	font-size: 24px;
	color: rgba(128, 128, 128, 0.2);
}

.mobile-controls--show-lines .mobile-controls_button {
	display: block;
}

.mobile-controls--show-lines .mobile-controls_button--left {
	border-right: 1px dashed rgba(128, 128, 128, 0.2);
}

.mobile-controls--show-lines .mobile-controls_button--right {
	border-left: 1px dashed rgba(128, 128, 128, 0.2);
}

.mobile-controls_button--rotate {
	height: 80%;
}

.mobile-controls--show-lines .mobile-controls_button--rotate {
	border-bottom: 1px dashed rgba(128, 128, 128, 0.2);
}

.mobile-controls_button--down {
	height: 20%;
}

.mobile-controls_button--left .fa-chevron-left,
.mobile-controls_button--right .fa-chevron-right,
.mobile-controls_button--down .fa-chevron-down {
	position: absolute;
	top: 50%; 
	transform: translateY(-50%);
}

.mobile-controls_button--right .fa-chevron-right {
	left: 10px;
}

.mobile-controls_button--left .fa-chevron-left {
	/*left: inherit;*/
	right: 10px;
}

.mobile-controls_button--down .fa-chevron-down {
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

/* описание работы контролов */
.mobile-controls-description {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
}

.mobile-controls-description__text {
	font-size: 12px;
	color: rgba(128, 128, 128, 0.2);	
}

.mobile-controls-description__title {
	font-size: 14px;
	color: rgba(128, 128, 128, 0.2);	
	margin-bottom: 5px;
}

.mobile-controls-description__logo {
	width: 80px;
	height: auto;
}

.touch-hand {
	opacity: 0.12;
}

.swipe-hands {
	opacity: 0.14;	
}

.d-block {
	display: block;
}

/* Media queries */
@media (min-width: 992px) {
	.settings {left: -50px;}
	.settings__control {font-size: 24px;}
	.info {font-size: 24px;}
	.info-start {font-size: 26px;}
	.notification {font-size: 40px;}
}

@media (min-width: 576px) {
	.mobile-controls_button {font-size: 30px;}
}



